input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.App {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 5% 1fr 5%;
  grid-gap: 10px;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";
  width: 100vw;
  height: 100vh;
}
