input {
  width: 96%;
  border: none;
  border-bottom: 1px solid lightgray;
  margin-left: 2%;
  margin-right: 2%;
  height: 5%;
  padding-top: 2%;
}

input:focus {
  border-bottom: 1px solid black;
}

input.form {
  width: 25%;
  padding-top: 10%;
  margin-left: 25%
}

input::-webkit-input-placeholder {
  font-size: 150%;
  font-family: 'Raleway', sans-serif;
}

.tag {
  padding: 8px;
  width: fit-content;
  background-color: lightgrey;
  border-radius: 4px;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
}

.tag-submit {
  visibility: hidden;
}
