input {
  width: 96%;
  border: none;
  border-bottom: 1px solid lightgray;
  margin-left: 2%;
  margin-right: 2%;
  height: 5%;
  padding-top: 2%;
}

input:focus {
  border-bottom: 1px solid black;
}

input.form {
  width: 25%;
  padding-top: 5%;
  margin-left: 25%
}

input::-webkit-input-placeholder {
  font-size: 150%;
  font-family: 'Raleway', sans-serif;
}

.tag-container {
  display: flex;
  flex-direction: flex-start;
}

.tag {
  padding: 8px;
  width: fit-content;
  background-color: lightgrey;
  border-radius: 4px;
  margin-right: 1px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}

button {
  padding: 1em 2em;
  border: none;
  font-size: 1em;
  transition: all 1s ease;
  outline: none;
  letter-spacing: 0.1em;
}

.tag-submit {
  visibility: hidden;
}
